<h2>Hisao's FAQ's</h2>
<a href="/faqs/ask" class="btn btn-primary">Ask a Question</a>
{{#if session.isLoggedIn}}
    {{#if faq.length}}
        <ul>
            {{#each faq}}
                <div class="card" id="cards">
                    <div class="container">
                        <h5 class="card-title">{{name}}</h5>
                        <h6 class="card-text">{{question}}</h6>
                        <p class="card-text">{{answer}}</p>
                        <p class="card-text greyedOut">Created at: {{dateOfQuestion}}</p>
                        <p class="card-text greyedOut">Responded at: {{dateOfResponse}}</p>
                        <br>
                        <a href="/faqs/{{id}}/respond">Respond</a>
                        <a href="/faqs/{{id}}/delete">Delete</a>
                    </div>
                </div>
                <br>
            {{/each}}
        </ul>
    {{else}}
        <p>No questions have been asked.</p>
    {{/if}}
{{else}}
    {{#if faq.length}}
        <ul>
            {{#each faq}}
                <div class="card" id="cards">
                    <div class="container">
                        <h5 class="card-title">{{name}}</h5>
                        <h6 class="card-text">{{question}}</h6>
                        <h4 class="card-text">{{questionResponse}}</h4>
                        <br>
                    </div>
                </div>
                <br>
            {{/each}}
        </ul>
    {{else}}
        <p>No questions have been asked.</p>
    {{/if}}
{{/if}}
