<h2>Hisao's Blog Posts</h2>

{{#if hasDatabaseError}}
    <div class="alert alert-primary" role="alert">
        Couldn't fetch the blog posts at the moment, try again later.
    </div>
{{else}}

    {{#if session.isLoggedIn}}
        <a href="/blog/create" class="btn btn-primary">Create new post!</a>
        {{#if blog.length}}
            <ul>
                {{#each blog}}
                    <div class="card" style="width: auto">
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <p class="card-text greyedOut">Created at: {{dateCreated}}</p>
                            <p class="card-text">{{textEntry}}</p>
                            <br>
                            <a href="/blog/{{id}}/update">Update</a>
                            <a href="/blog/{{id}}/delete">Delete</a>
                        </div>
                    </div>
                    <br>
                {{/each}}
            </ul>
        {{else}}
            <p>No blog posts exist.</p>
        {{/if}}
    {{else}}
        {{#if blog.length}}
            <ul>
                {{#each blog}}
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <h6 class="card-title">Created at: {{dateCreated}}</h6>
                            <p class="card-text">{{textEntry}}</p>
                        </div>
                    </div>
                    <br>
                {{/each}}
            </ul>
        {{else}}
            <p>No blog posts exist.</p>
        {{/if}}
    {{/if}}
{{/if}}


