<h2>Hisao's Blog Posts</h2>

{{#if hasDatabaseError}}
    <p>Couldn't fetch the blog posts at the moment, try again later.</p>
{{else}}

    {{#if session.isLoggedIn}}
        <a href="/blog/create" class="btn btn-primary">Create new post!</a>
        {{#if blog.length}}
            <ul>
                {{#each blog}}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{post}}</p>
                            <br>
                            <a href="/blog/{{id}}/update">Update</a>
                            <a href="/blog/{{id}}/delete">Delete</a>
                        </div>
                    </div>
                {{/each}}
            </ul>
        {{else}}
            <p>No blog posts exist.</p>
        {{/if}}
    {{else}}
        {{#if blog.length}}
            <ul>
                {{#each blog}}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{post}}</p>
                        </div>
                    </div>
                {{/each}}
            </ul>
        {{else}}
            <p>No blog posts exist.</p>
        {{/if}}
    {{/if}}
{{/if}}


