<h1>Update Blog Post</h1>
{{#if errors.length}}
<div class="alert alert-danger" role="alert">
    <p>Couldn't update the blog post because:</p>
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}

<form action="/blog/{{id}}/update" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>
        <label for="comment">Update Title:</label>
        <textarea name="title" class="form-control">{{text}}</textarea><br>
        <label for="comment">Update post:</label>
        <textarea name="textEntry" rows="3" class="form-control" >{{text}}</textarea>
    </div>
    <div>
        <input type="submit" value="Update" class="btn btn-primary">
    </div>
</form>